<!DOCTYPE HTML>
<!--
	Visualize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Visualize by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/style/assets/css/main.css" />
		<link rel="stylesheet" href="/alertify/css/alertify.css">
		<link rel="stylesheet" href="/alertify/css/themes/default.css">
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						
 <div class="col-lg-12">
            <div class="card card-fullheight">
                <div class="card-body">
                        <table class="table table-striped" style="vertical-align:middle">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Nome</th>
                            </tr>
                        </thead>
                        <tbody>
                              {{#each usuarios}}
                            <tr>
                                 <td>{{nome}}</td>
                            </tr>
                             {{/each}}
                        </tbody>
						    </table>	
                </div>
            </div>
 </div>					
					</header>

				<!-- Main -->
					<section id="main">


					</section>

				<!-- Footer -->
					<footer id="footer">
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/style/assets/js/jquery.min.js"></script>
			<script src="/style/assets/js/jquery.poptrox.min.js"></script>
			<script src="/style/assets/js/skel.min.js"></script>
			<script src="/style/assets/js/main.js"></script>
			<script src="/alertify/alertify.js"></script>
			<script src="/alertify/alertify.min.js"></script>
	
	<script type="text/javascript">
		 
		  $(document).ready(function () {
            $(function () {
				configureModal();
			
            });

			
        });

		function configureModal(){
			alertify.confirm().setHeader("Atenção");
			alertify.alert().setHeader("Atenção");;
		}

	</script>

	</body>
</html>